
<section class="mb-12 mt-10">
    <div class="container">
        <div class="relative z-[1] lg:-mx-8">
            <div class="mx-4 grid gap-14 rounded-b-[20px] bg-white py-14 px-4 dark:bg-black md:gap-24 lg:grid-cols-2 lg:py-28">
                <div class="relative" data-aos="fade-up" data-aos-duration="1000">
                    <div class="bottom-0 h-full overflow-hidden ltr:right-0 rtl:left-0 lg:absolute lg:w-[640px]">
                        <img src="/assets/images/features-img.png" alt="" class="h-full w-full object-cover" />
                    </div>
                    <img
                        src="/assets/images/green-top-arrow.svg"
                        alt=""
                        class="absolute -bottom-8 rtl:-left-14 lg:ltr:-right-14"
                    />
                </div>
                <div>
                    <div class="text-center ltr:lg:text-left rtl:lg:text-right">
                        <div class="heading mb-5 text-center ltr:lg:text-left rtl:lg:text-right xl:w-[95%]">
                            <h6>umpordez</h6>
                            <h4>A arte de programar 10x melhor</h4>
                        </div>
                        <p class="pb-10 font-semibold leading-[30px] sm:text-lg">
                            Hello (WORLD)! <br />
                            Me chamo Deividy Metheler Zachetti, 
                            nasci em 1990-05-08, tive o meu primeiro contato com programação com o mIRC 
                            por volta dos anos dois mil.
                            <br /><br />
                            Programo há mais de 20 anos, sou conhecido como ligeiro, estou aqui para transmitir o meu conhecimento 
                            e criar uma legião de ligeiros. :)
                        </p>
                        <a href="/sobre" class="btn bg-secondary capitalize text-white hover:bg-primary sm:px-14 sm:py-5">MAIS</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-x-0 -bottom-4 -z-[1] h-full w-full rounded-[20px] bg-white/20 dark:bg-white/[0.02]"></div>
        </div>
    </div>
</section>