<footer class="mt-auto bg-white dark:bg-transparent dark:bg-gradient-to-b dark:from-white/[0.03] dark:to-transparent">
<div class="bg-gradient-to-r from-[#FCF1F4] to-[#EDFBF9] py-5 dark:border-t-2 dark:border-white/5 dark:bg-none">
    <div class="container">
        <div class="flex flex-col items-center justify-between text-center font-bold dark:text-white md:flex-row">
            <div>
                Copyright © <span class="curr-year"><%= new Date().getFullYear() %></span>
                -
                <span class="text-secondary transition">umpordez</span>
            </div>
        </div>
    </div>
</div>
</footer>