<p>
    olá, tudo bem? <br />
    eu sou o ligeiro e esse é um e-mail enviado assim que você se cadastra no umpordez.
</p>

<p>
    eu estou enviando esse e-mail exclusivamente para confirmar que essa é uma caixa válida e que você pode receber os meus e-mails.
    <br />
    <i>(ele tem uma imagem no rodapé escrito umpordez, que quando renderizada salva
    no meu banco de dados que você abriu o e-mail, e com isso eu sei que é um e-mail válido :))</i>
</p>

<p>
    obrigado por se cadastrar e caso queira dar uma dupla confirmação que esse
    e-mail está apto para receber nossa trilogia, clique no link abaixo:
    <br />
    <a href='<%= baseUrl %>/confirm/<%= id %>'>umpordez.com/confirm/<%= id %></a>
</p>

<p>aguarde o seu chamado no dia 07/06. </p>
<p>
    um abraço! <br />
    Deividy Metheler Zachetti
</p>

<img
    src='<%= baseUrl %>/confirm/<%= id %>.png'
    style='height: 40px'
    alt='img to confirm your subscription'
    title='you know' />
