<!doctype html>
<html lang='pt-br'>
    <head>
        <meta charset='utf-8' />
        <title>welcome</title>
        <style tyle='text/css'>
            @media (prefers-color-scheme: dark) {
                body {
                    background: #222;
                    color: #F4F2F0;
                    padding: 10px;
                }
            }
        </style>
    </head>
    <body>
        <div dir="ltr">
            olá, tudo bem? <br />
            eu sou o ligeiro e esse é um e-mail enviado assim que você se cadastra no umpordez.
            <br /><br />

            eu estou enviando esse e-mail exclusivamente para confirmar que essa é uma caixa válida e que você pode receber os meus e-mails.
            <br />
            <i>(ele tem uma imagem no rodapé escrito umpordez, que quando renderizada salva
                no meu banco de dados que você abriu o e-mail, e com isso eu sei que é um e-mail válido :))</i>
            <br /><br />

            obrigado por se cadastrar e caso queira dar uma dupla confirmação que esse
            e-mail está apto para receber nossa trilogia, clique no link abaixo:
            <br />
            <a href='<%= baseUrl %>/confirm/<%= id %>'>umpordez.com/confirm/<%= id %></a>

            <br /><br />
            aguarde o seu chamado (em breve, I promise...).
            <br /><br />
            um abraço! <br />
            Deividy Metheler Zachetti
            <br />
            <img
                src='<%= baseUrl %>/confirm/<%= id %>.png'
                style='margin: 10px; height: 70px; width: 70px'
                alt='this is an image to confirm your subscription'
                title='you know' />
        </div>
    </body>
</html>
